/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family : "Mustache";
	src         : url("../fonts/mustache.ttf");
	font-weight : normal;
	font-style  : normal;
}

html {
	height : 100%;
}
body {
	font-family    : Neucha;
	font-size      : 100%;
	letter-spacing : 0.05em;
	word-spacing   : 0.1em;
	text-align     : center;
	height         : 100%;
}
i {
	font-style : italic;
}
b {
	font-weight : 700;
}
.bg-color {
	background-color : #E6E6E6;
}
.fg-color {
	background-color : #83B572;
}
.info-font {
	font-size : 1.3em;
}

.bg-clickable       { cursor           : pointer; }
.bg-clickable:hover { background-color : white;   }

.fg-clickable       { cursor           : pointer; }
.fg-clickable:hover { background-color : #B2D184; }

.top-exterior {
	position : absolute;
	height   : 3.5em;
	top      : -3.5em;
	width    : 49em;
}
.right-exterior {
	position : absolute;
	overflow : visible;
	width    : 0em;
	height   : 30em;
	right    : 0em;
}
.title {
	font-size      : 3em;
	text-align     : left;
	vertical-align : baseline;
	white-space    : nowrap;
	width          : 0%;
}
.money-total {
	text-align     : right;
	vertical-align : baseline;
	white-space    : nowrap;
	width          : 100%;
}
.hat {
	margin-bottom : 0.5em;
	width         : 5em;
}
.player-items {
	left     : 0.5em;
	position : absolute;
}
.moustache {
	font-family : Mustache;
	font-size   : 2em;
}
.buttons {
	position   : absolute;
	text-align : left;

	top      : 0;
	right    : 0;
	left     : 0;

	height   : 3em;
}
.buttons > div {
	background-color : #83B572;
	border           : 1px solid black;
	cursor           : pointer;
	display          : inline-block;
	height           : 1.6em;
	line-height      : 1.0em;
	font-size        : 1em;
	padding          : 0.2em 1em;
	margin           : 0.7em 0.5em;
}
.buttons > div:hover {
	background-color : #B2D184;
}

/* about menu */

.about {
	border        : 1px solid black;
	border-radius : 50%;
	position      : absolute;
	line-height   : 1.1em;

	bottom        : -1.1em;
	right         : -1.1em;

	width         : 1.1em;
	height        : 1.1em;
}
.about-menu {
	bottom   : 0em;
	display  : none;
	position : absolute;
}
.about-menu p {
	margin      : 0.2em;
	text-align  : left;
	white-space : nowrap;
}
.game {
	margin          : 0em auto;
	border-collapse : separate;
	border-spacing  : 0.5em;
	margin-top      : 4em;
	position        : relative;

	width           : 49em;
	height          : 30em;
}
.location {
	overflow : hidden;
	position : absolute;

	top    : 3em;
	right  : 0;
	bottom : 0;
	left   : 0;
}

/* save view */

.game-container {
	position : absolute;

	left     : 0em;
	top      : 0em;

	width    : 64em;
	height   : 35.1em;
}
.dev {
	background-color : #F0F0F0;
	box-shadow       : 0 0 4px #808080;
	position         : absolute;

	left             : 64.5em;
	right            : 0.5em;
	top              : 4em;
}
#dev-contents {
	text-align : left;
}
#dev-contents table {
	border-collapse : separate;
	border-spacing  : 0.5em;
	vertical-align  : top;
}
#dev-contents table td {
	border-collapse : separate;
	border-spacing  : 0.5em;
	vertical-align  : top;
}
#dev-contents td.key {
	font-weight : bold;
}
#dev-contents td.value {
	background-color : white;
	white-space      : pre;
	width            : 100%;
}

/* home */

#home {
	border-collapse : separate;
	border-spacing  : 0.5em;

	width           : 100%;
	height          : 100%;
}
#home-header {
	height  : 2em;
	z-index : 0;
}
#home-body {
	position : relative;
}
#home-view {
	border         : 1px solid black;
	font-family    : "Courier New",monospace;
	height         : 100%;
	letter-spacing : 0em;
	position       : relative;
	text-align     : left;
	vertical-align : top;
	white-space    : pre;
	word-break     : break-all;
	word-spacing   : 0;

	width          : 100%;
	z-index        : 0;
}
#home-dialog {
	background-color : #D0D0D0;
	border-radius    : 1em;
	font-size        : 1.2em;
	position         : absolute;
	padding          : 2em;
	text-align       : left;

	right            : 8em;
	bottom           : 4em;
	left             : 8em;
	top              : 4em;

	z-index          : 1;
}
#home-dialog li {
	list-style-type     : decimal;
	list-style-position : inside;
}
#home-view span.character {
	box-sizing       : border-box;
	cursor           : pointer;
	font-family      : inherit;
	margin           : 0;
	padding          : 0;
}
#home-view span.character:hover {
	box-shadow: 0 0 0 1px black inset;
}
#home-view span.player:hover {
	background-color : #F0F0F0;
	padding          : 0;
	margin           : 0;
	font-family      : inherit;
}
#home-invites {
	background-color : #D0D0D0;
	display          : inline-block;
	font-family      : inherit;
	font-size        : 1em;
	height           : auto;
	padding          : 0.5em;
	position         : absolute;
	text-align       : left;
	white-space      : nowrap;
	z-index          : 1;
}

#home-invites>label:hover {
	background-color : #E0E0E0;
}

/* queue */

.queue-ticket {
	background-color : white;
	padding          : 0.2em;
	position         : absolute;

	left : -7em;

	width  : 6em;
	height : 6em;
}
.queue-ticket .number {
	font-size   : 2em;
	padding-top : 0.3em;
}
.my-ticket {
	bottom : 6.5em;
}
.current-ticket {
	bottom : 0em;
}
.queue-people {
	background : url("../svg/highlight.svg") 0 0 / 100% 100%;
	display  : inline-block;
	position : absolute;
	width    : 20em;

	top    : 0;
	bottom : 0;
	left   : 0;
}
.queue-person {
	display     : block;
	font-size   : 1.3em;
	height      : 1.1em;
	line-height : 1.1em;
}
.queue-character {
	cursor : pointer;
}
.queue-character:hover {
	text-decoration : underline;
}
.queue-spacer {
	background : url("../img/crease.png") 0 0 / 100% 100%;
	display  : inline-block;
	position : absolute;
	width    : 0.5em;

	top    : 0;
	bottom : 0;
	left   : 20em;
}
.queue-body {
	display  : inline-block;
	position : absolute;

	top      : 0;
	right    : 0;
	bottom   : 0;
	left     : 20.5em;
}
.queue-dialog {
	border         : 1px solid black;
	border-radius  : 1em;
	color          : #006;
	line-height    : 1.1em;
	margin         : 0 auto;
	min-height     : 2em;
	padding        : 1em;
	position       : relative;
	text-align     : left;
	width          : 24em;

	top            : 50%;
	transform      : translateY(-50%);
}
.dialog-speaker {
	position : absolute;

	left     : 1.5em;
	top      : -1.5em;
}
.dialog-text {
	background-color : #94BF78;
	margin-bottom    : 1em;
	padding          : 0.5em;
}
.dialog-replies {
	list-style-type     : decimal;
	list-style-position : outside;
	padding : 0.5em 0.5em 0.5em 1.5em;
}

/* store */

#store {
	border-collapse : separate;
	border-spacing  : 0.5em;
	table-layout    : fixed;

	width           : 100%;
	height          : 100%;
}
#store-body {
	height : 100%;
}
#store-body > div {
	position : relative;
	height   : 100%;
	overflow : auto;
}
#store-items {
	display         : flex;
	flex-flow       : row wrap;
	justify-content : center;
	list-style      : none;
	position        : absolute;

	top      : 0;
	right    : 0;
	bottom   : 0;
	left     : 0;
}
#store-items li {
	border      : 1px solid black;
	display     : inline-block;
	margin      : 0.5em;
	padding     : 0.5em;
	white-space : nowrap;
}
#store-items li.disabled {
	color : #606060;
}
