/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family : "Mustache";
	src         : url("../fonts/mustache.ttf");
	font-weight : normal;
	font-style  : normal;
}

html {
	height : 100%;
}
body {
	background-color : #FAFAFA;
	font-family      : Neucha;
	font-size        : 100%;
	text-align       : center;
	height           : 100%;
}
h1#title {
	font-size      : 3em;
	padding-bottom : 0.5em;
}
button {
	cursor      : pointer;
	font-family : Neucha;
	white-space : nowrap;
	padding     : 0.3em;
}
#main-table {
	border-collapse : separate;
	border-spacing  : 1em;
	width           : 100%;
	vertical-align  : top;
}
#game {
	background-color : #F0F0F0;
	box-shadow       : 0 0 4px #808080;
	margin           : 0em auto;

	border-collapse  : separate;
	border-spacing   : 0.5em;

	width            : 49em;
	height           : 30em;
}
#header-left {
	text-align : left;
	width      : 100%;
}
#header-right {
	width : 0%;
}
#money-total {
	display     : inline;
	white-space : nowrap;
}
#moustache {
	display        : inline;
	font-family    : Mustache;
	font-size      : 1.5em;
	overflow       : hidden;
	padding-right  : 0.5em;
	vertical-align : text-bottom;
	white-space    : pre;
	}
#location {
	background-color : #D0D0D0;
	height           : 100%;
	overflow         : hidden;
}
#location #dialog li {
	cursor              : pointer;
	list-style-position : inside;
}
#location #dialog li:hover {
	background-color : #E0E0E0;
}

/* save view */

#dev {
	background-color : #F0F0F0;
	box-shadow       : 0 0 4px #808080;

	max-height       : 40em;
	width            : 100%;
}
#dev-contents {
	text-align : left;
}
#dev-contents table {
	border-collapse : separate;
	border-spacing  : 0.5em;
	vertical-align  : top;
}
#dev-contents table td {
	border-collapse : separate;
	border-spacing  : 0.5em;
	vertical-align  : top;
}
#dev-contents td.key {
	font-weight : bold;
}
#dev-contents td.value {
	background-color : white;
	white-space      : pre;
	width            : 100%;
}

/* home */

#home {
	border-collapse : separate;
	border-spacing  : 0.5em;

	width           : 100%;
	height          : 100%;
}
#home-header {
	height : 2em;
}
#home-view {
	background-color : #F0F0F0;
	font-family      : "Courier New",monospace;
	font-size        : 1em;
	height           : 100%;
	position         : relative;
	text-align       : left;
	vertical-align   : top;
	word-break       : break-all;
	white-space      : pre;

	width            : 100%;
	height           : 100%;
	z-index          : 0;
}

#home-view span.character {
	box-sizing       : border-box;
	padding          : 0;
	margin           : 0;
	font-family      : inherit;
}
#home-view span.character:hover {
	box-shadow: 0 0 0 1px black inset;
}
#home-view span.player:hover {
	background-color : #F0F0F0;
	padding          : 0;
	margin           : 0;
	font-family      : inherit;
}
#home-invites {
	background-color : #D0D0D0;
	display          : inline-block;
	font-family      : Neucha;
	font-size        : 1em;
	padding          : 0.5em;
	position         : absolute;
	text-align       : left;
	white-space      : nowrap;
	z-index          : 1;
}

#home-invites>label:hover {
	background-color : #E0E0E0;
}

/* queue */

#queue {
	border-collapse : separate;
	border-spacing  : 0.5em;

	width           : 100%;
	height          : 100%;
}
#queue #body {
	height : 100%;
	vertical-align : middle;
}
#queue ol {
	list-style-type : decimal;
	padding         : 0.5em 0 0 0;
}
#queue #dialog {
	display    : inline-block;
	text-align : left;
	font-size  : 1.2em;
}

/* store */

#store {
	border-collapse : separate;
	border-spacing  : 0.5em;
	table-layout    : fixed;

	width           : 100%;
	height          : 100%;
}
#store-body {
	height : 100%;
}
#store-body > div {
	position : relative;
	height   : 100%;
	overflow : auto;
}
#store-items {
	position : absolute;
	top      : 0;
	right    : 0;
	bottom   : 0;
	left     : 0;

	width    : 100%;
}
#store-items td {
	border  : 1px solid black;
	cursor  : pointer;
	padding : 0.5em;
}
#store-items td.disabled {
	color : #606060;
}
#store-items td.enabled:hover {
	background-color : #E0E0E0;
}
